*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    font-size: 30px;
    color: white;
}
h1 span{
    color: gold;
}
p{
    font-size: 20px;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}
.insidebox{
    border: 2px solid gray;
    border-radius: 10px;
    background-color: gray;
    width: 400px;
    height: 300px;
}
.on{
    border: 2px solid lightslategray;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: lightslategray;
    margin-top: 50px;
    margin-left: 50px;
}
.off{
    border: 2px solid green;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: green;
    margin-top: 70px;
    margin-left: 50px;
}
.circle{
    border: 2px solid white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: white;
    transition: ease-in-out 1s;
}
.circle:hover{
    transform: translateX(150px);
}
.off-circle{
    border: 2px solid white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: white;
    float: right;
    transition: ease-in-out 1s;
}
.off-circle:hover{
    transform: translateX(-150px);
}
.on1{
    border: 2px solid darkgray;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: darkgray;
    margin-top: 50px;
    margin-left: 50px;
}
.off1{
    border: 2px solid darkblue;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: darkblue;
    margin-top: 70px;
    margin-left: 50px;
}
.off-circle1{
    border: 2px solid blue;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: blue;
    float: right;
    transition: ease-in-out 1s;
}
.off-circle1:hover{
    transform: translateX(-150px);
}
.on2{
    border: 2px solid black;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
}
.circle1{
    border: 2px solid black;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: black;
    transition: ease-in-out 1s;
}
.circle1:hover{
    transform: translateX(150px);
}
.off2{
    border: 2px solid lightblue;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: lightblue;
    margin-top: 70px;
    margin-left: 50px;
}
.circle2{
    border: 2px solid white;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: white;
    float: right;
    transition: ease-in-out 1s;
}
.circle2:hover{
    transform: translateX(-150px);
}
.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}
footer{
    background-color: coral;
    height: 50%;
    width: 100%;
margin-top: 30px;
}
h2{
    color: white;
    font-size: 30px;
}
h2 span{
    color: gold;
}
p{
    font-size: 20px;
}
.container2 h3{
    font-size: 30px;
    color: white;
}
.container2 li{
    list-style-type: none;
    
}
.container2 li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.container2 li a:hover{
    text-decoration: underline;
    color: gold;
}
.container3 h4{
    font-size: 30px;
color: white;
}

@media screen and (min-width:240px) and (max-width:1023px) {
    .footer-flex{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
